# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CodeLite files
*.mk
*.project
*.tags
*.list
*.txt
*.workspace
*.workspace.chenchuang
*.workspace.session

cppfiles/CSNetSim/Debug/
cppfiles/CSNetSim/Release/
cppfiles/CSNetSim/.codelite/
cppfiles/CSNetSim/Makefile
cppfiles/CSNetSim/UnitTest/Debug/

# Matlab
*.mat
*.mexw32
*.fig